.selected-item {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    .properties {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .icon {
            cursor: pointer;
        }
    }
}